@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

body {
    background-color: skyblue;
    font-family: 'Red hat display', 'sans-serif';
}

.main-restaurant {
    margin-top: 15vh;
}

.section-container {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
}

.dropdown-container {
    position: absolute;
    background-color: black;
    color: white;
    top: 17vh;
    height: 10vh;
    left: 8vw;
    width: 43vw;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    border-radius: 20px;
}

.nutrient-dropdown {
    height: 8vh;
    width: 40vh;
    text-align: center;
    /* border: green 5px solid; */
    border-width: 0;
    outline: none;
    border-style: solid;
    border-radius: 20px;
    font-family: 'Red hat display', 'sans-serif';
    font-size: x-large;
}

.nutrient-dropdown-header {
    font-size: x-large;
    margin-right: 2vw;
}

/* .tables {
    width: 60vw;
    border: purple solid 5px;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-content: space-evenly;
} */

.dashboard {
    position: absolute;
    top: 17vh;
    left: 58vw;
    width: 40vw;
    height: 80vh;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
}

.dash-list {
    position: absolute;
    top: 5vh;
    height: 75vh;
    line-height: 2;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dash-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dash-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    
}

.dash-title {
    /* border: blue 2px solid; */
}

.table-title1 {
    position: absolute;
    top: 30vh;
    left: 3vw;
    width: 25vw;
    height: 5vh;
    background-color: black;
    color: white;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-weight: bold;
}

.table-title2 {
    position: absolute;
    top: 30vh;
    left: 31vw;
    width: 25vw;
    height: 5vh;
    background-color: black;
    color: white;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-weight: bold;
}

.table-div1 {
    background-color: black;
    position: absolute;
    top: 35vh;
    left: 3vw;
    width: 25vw;
    height: 50vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}

.table-div2 {
    background-color: black;
    position: absolute;
    top: 35vh;
    left: 31vw;
    width: 25vw;
    height: 50vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}



.item-table {
    align-items: center;
    width: 100%;
    height: 100%;
    border: black 5px solid;
    border-radius: 20px;
    overflow: hidden;
}

.item-table thead {
    height: 5vh;
}

.item-table tbody tr {
    height: 8vh;
}

.item-table th {
    background-color: black;
    color: white;
}

.item-table td {
    text-align: center;
    background-color: white;    
}

.item-header {
    width: 15vw;
}

.full-bar {
    width: 10vw;
    height: 4vh;
    border-radius: 5px;
    background-color: lightgrey;
}

.bar-filler {
    border-radius: inherit;
    height: 100%;
    background-color: purple;
}