@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

.main{
    margin-top: 15vh;
    background-color: skyblue;
    height: 85vh;
}

.links {
    display: flex;
    flex-direction: row;
    height: 80vh;
    justify-content: center;
    align-content: space-between;
}

.link {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-right: 6vw;
    margin-left: 6vw;
    margin-top: 8vh;
    margin-bottom: 8vh;
    padding-left: 8vw;
    padding-right: 8vw;
    width: 35vw;
    height: 50vh;
    font-family: 'Red hat display', 'sans-serif';
    color: lightgrey;
    font-weight: bold;
    font-size: xx-large;
    background-color: black;
    text-decoration: none;
    border: white solid 1vh;
    line-height: 2;
}

.link:hover{
    background-color: darkslategrey;
}